<div class="note flex-box" :style.left="props.model.position.x" :style.top="props.model.position.y"
    :style.width="props.model.size.width" :style.height="props.model.size.height" :style.zIndex="props.model.zIndex"
    @mousedown="onMouseDown()">
    <div class="flex-box flex-element flex-column relative-container">
        <div class="note-tlb flex-box" *note-pan>
            <button class="fa fa-close btn" @click="close()" *m-show="state.isEditing"></button>
        </div>
        <textarea class="note-content flex-element" *m-model="props.model.content"></textarea>
        <div class="note-resize" *note-resize></div>
    </div>
</div>